body {
    background-color:gold
}

.wrapper {
    margin: 0 auto;
    width: 75%;
}

textarea {
    margin-top: 20px;
    width: 300px;
    height: 100px;
}

.image {
    text-align: center;
    margin-top: 20px;
}

.clear {
    clear: both;
}

.name {
    background-color: white;
    padding: 15px;
    margin: 5px;
    text-align: center;
    float: left;
    width: 70%;
}

h1,
.create {
    text-align: center
}

h1 {
    color: rgb(121, 17, 17);
}

ul {
    list-style-type: none;
}

.not-devoured,
.devoured-burgers  {
    float: left;
    width: 50%;
}

#new-burger {
    margin: 0 auto
}

#submit-burger {
    border-radius: 5px;
    background-color: navy;
    color: white;
    padding: 5px 8px 5px 8px;
    margin-top: 5px;
}

.devour {
    float: right;
    padding: 5px 10px 5px 10px;
}
